# Project Plan

## renarepenning.github.io

**Data Sets:**
1. We Play Data ^1
    Provided by Christine Neely
2. Dibels Reading Report" PDF
    https://www.louisianabelieves.com/docs/default-source/test-results/fall-2020-dibels-reading-report.pdf?sfvrsn=28a96618_8
3. 2018-2020 PK-5 enrollment data (xlsx) 
    https://www.louisianabelieves.com/docs/default-source/believe/k-enrollment-trends.pdf?sfvrsn=6eca6718_6

**Possible others**
1. https://www.louisianaschools.com/
   Early childhood education centers in New Orleans, by age group.
2. https://opennola.org/state-of-the-young-child-in-new-orleans-edi-neighborhood-profiles/ 
   "STATE OF THE YOUNG CHILD IN NEW ORLEANS: EDI NEIGHBORHOOD PROFILES"
    This Dataset measures five areas of early childhood development to classify Kindergarten readiness. These include "Physical health and wellbeing", "Social competence", "Emotional Maturity", "Language and cognitive skills", and "Communication skills and general knowledge".
    ^2

We are inspired by The We Play center's mission: "to offer a safe place to play while engaging in activities that promote brain development." 
Melanie Richardson expressed a need for statistical evidence of We Play's importance.
Although we would like to use the center's existing data, it doesn't have consistent ids per unit of observation. This prohibits us from studying participent's
educational or well-being outcomes.
Also, Christine Neely sent us sporadic data from the past two years. We cannot analyze
change over uneven time periods.
Instead of analyzing WePlay's surveys, we would like to validate the center's work by illustrating social impact.

Children in Louisiana were not required to attend kindergarten until June of 2021. 
Studies show that children who cannot read at grade level by the third grade will lag behind for the rest of their education.^3
We hypothesize that access to early childhood education will greatly improve a child's literacy by the third grade.
"2018-2020 PK-5 Enrollment" provides reading test results, but it is in PDF form so will need to be transfered to a CSV
manually or parsed as a PDF.
We aim to analyze early childhood education availability's impact on elementary school reading proficiency. 
Additonally, we would like to look at center availability and need.
Once we establish a quantifiable need for early childhood education we can analyze inhibiting factors
by scraping data on all centers in Louisiana.
"State of the young child..." applies to our hypothesis and could possible be of use if we have time to analyze multiple questions.

^1 WePLAY data was last downloaded on October 25th, 2021. We could not use a live link because of spaces in filenames.

^2 This site's links are broken so we are awaiting response. Will call if they haven't responded by 10/27.

^3 https://news.yahoo.com/kindergarten-required-louisiana-edwards-signs-230000296.html


**Collaboration Plan:**
Rena and Eddy will utilize this repository to simultaneously edit the project. 
We plan on connecting over Zoom as needed and keeping constant communication over instant message. Also, we are both able to meet after class on Thursdays.
When convinient, we will export notebooks to Google Colabs to support simultaneous editing. 
(This is easily done using a Colabs Chrome extension).

# Exploring WePlay survey results

Provided by Christine Neely from WePlay by Training Grounds nola. Data last accessed on October 25th.

In [87]:
import pandas as pd

## Imports, as needed
#!head ../notebooks/_data/WePLAYData/
#!pip3 install openpyxl # followed error messages to install openpyxl package

In [88]:
fam_survey = pd.read_excel("../notebooks/_data/WePlayData/WPCFamilySurvey.xlsx")
fam_survey.head()

## This dataset has many more values than entries, and cannot be effectively tidied as the key is Respondent ID

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 64,"In a typical week, about how much time does your child engage in active indoor play?","In a typical week, about how much time does your child engage in quiet indoor play?","In a typical week, about how much time does your child engage in outdoor play?",What will keep you coming back to the We PLAY Center?,What aspect of the We PLAY Center do you find most helpful?,Would you recommend a family or friend to the We PLAY Center?,Name,Unnamed: 72,Date
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Has your child exhibited an increase in age-ap...,Hours (approximate),Hours (approximate),Hours (approximate),Open-Ended Response,Open-Ended Response,Response,First Name,Last Name,Date
1,1.092363e+10,225003849.0,2019-08-13 14:16:22,2019-08-13 14:20:25,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,Mostly agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.092340e+10,225003849.0,2019-08-13 12:43:30,2019-08-13 12:52:16,172.56.26.76,NaN,NaN,NaN,NaN,Female,...,NaN,7,5,7,The positive staff and positive environment.,NaN,Yes,Xontownekiah,Ellison,08/13/2019
3,1.092099e+10,225003849.0,2019-08-12 12:27:33,2019-08-12 12:34:37,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,Neither disagree nor agree,12,12,3,My kids love it there an I enjoy playing with ...,Different stuff,Yes,Megan,Nelson,08/12/2019
4,1.092099e+10,225003849.0,2019-08-12 11:48:15,2019-08-12 12:26:53,107.77.249.48,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
# This set has the same issues
incoming_reflection = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection.xlsx")
incoming_reflection.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Would you recommend the We PLAY Center to a family or friend?,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.127194e+10,244233757.0,2020-01-13 17:42:45,2020-01-13 18:19:24,98.163.225.126,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,From picking up School Supplies for my other 2...,Yes,NaN,Stacy,Harris
2,1.123680e+10,244233757.0,2019-12-20 11:38:37,2019-12-20 11:43:06,70.186.98.87,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Jessica,Winters
3,1.123251e+10,244233757.0,2019-12-18 15:03:02,2019-12-18 15:06:43,72.211.124.135,NaN,NaN,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Oliver,Wise
4,1.117937e+10,244233757.0,2019-11-27 15:07:54,2019-11-27 15:11:54,107.77.200.18,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Please open on the weekends!,Megan,Washack

In [90]:
incoming_reflection_July19 = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection-July2019.xlsx")
incoming_reflection_July19.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Would you recommend the We PLAY Center to a family or friend?,Do you have any feedback on how the We PLAY Center can improve this Parent Reflection Form? Your feedback will used to modify this form and guide the development of future forms.,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.097254e+10,242461998.0,2019-09-05 18:11:49,2019-09-05 18:24:24,63.249.72.114,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.093646e+10,242461998.0,2019-08-20 07:09:08,2019-08-20 07:22:17,72.211.114.28,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,You all have been such an important and valuab...,Deidre,Gantt
3,1.091339e+10,242461998.0,2019-08-08 11:44:40,2019-08-08 11:58:47,72.204.146.32,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,You all are the best! The staff is amazing. I’...,Annie,Miklavcic
4,1.091316e+10,242884281.0,2019-08-08 10:33:01,2019-08-08 10:44:29,72.205.182.40,NaN,NaN,NaN,NaN,Male,...,Website,"Social Media (facebook, Twitter, Instagram)",NaN,NaN,NaN,Yes,NaN,NaN,John,Abadie

In [91]:
incoming_reflection_Nov19 = pd.read_excel("../notebooks/_data/WePlayData/WPCIncomingParentReflection-November2019.xlsx")
incoming_reflection_Nov19.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Would you recommend the We PLAY Center to a family or friend?,Do you have any feedback on how the We PLAY Center can improve this Parent Reflection Form? Your feedback will used to modify this form and guide the development of future forms.,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.121566e+10,249828299.0,2019-12-11 18:52:26,2019-12-11 19:28:39,70.180.70.217,raklasing58@gmail.com,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,Dcfs staff,Yes,NaN,NaN,Roberta,Klasing
2,1.120736e+10,249828299.0,2019-12-09 10:28:23,2019-12-09 10:35:47,99.203.155.230,christopherbenz@gmail.com,NaN,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Thanks for existing!,christopher,benz
3,1.118977e+10,249828299.0,2019-12-02 16:37:16,2019-12-02 16:45:41,72.198.183.180,joanna.x.russo@gmail.com,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN
4,1.116087e+10,248173257.0,2019-11-20 14:44:16,2019-11-20 14:46:17,172.58.101.23,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
incoming_reflection2020 = pd.read_excel("../notebooks/_data/WePlayData/CopyofTheWePLAYCenterIncomingParentReflectionForm2020.xlsx")
incoming_reflection2020.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Would you recommend the We PLAY Center to a family or friend?,Are there any additional comments you would like to share with the We PLAY Center?,First Name.1,Last Name.1
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Response,...,Website,"Social Media (facebook, Twitter, Instagram)","Another organization (Kingsley House, Healthy ...",Lafitte Fauborg Housing Office,We PLAY Center Staff,Other (please specify),Response,Open-Ended Response,Open-Ended Response,Open-Ended Response
1,1.139259e+10,252542815.0,2020-03-04 14:30:44,2020-03-04 14:37:00,99.203.26.135,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Siera,Tafoya
2,1.136253e+10,252542815.0,2020-02-21 10:46:37,2020-02-21 10:49:59,72.211.115.231,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN
3,1.135788e+10,252542815.0,2020-02-19 16:33:15,2020-02-19 16:38:13,184.176.223.214,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Lydia,Nichols
4,1.135497e+10,252542815.0,2020-02-18 16:11:12,2020-02-18 16:35:56,98.164.79.160,NaN,NaN,NaN,NaN,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are no key overlaps within the datasets so we cannot use a person as the unit of observation. We can only do some basic demographic data.

# # Looking at PK-K Enrollment data

2018-2020 PK-5 enrollment data taken from louisianabelieves.com, last accessed October 25th

In progress of tidying this data correctly....

We plan to use the data to illustrate PK/K enrollment per parish. 
(Kindergarten was not mandatory until 2021)

In [93]:
enrollmentDF = pd.read_excel("../notebooks/_data/pk-5enrollmentdata.xlsx")
enrollmentDF.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,PreK - Grade 5 Enrollment Percent Change by To...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,School System,School System Name,Percent Change,NaN,NaN,NaN,NaN,NaN,Enrollment Counts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Fall 2019 to Fall 2020,NaN,NaN,Fall 2018 to Fall 2019,NaN,NaN,Fall 2020,NaN,NaN,Fall 2019,NaN,NaN,Fall 2018,NaN,NaN
3,NaN,NaN,PreK,K,Gr 1-5,PreK,K,Gr 1-5,PreK,K,Gr 1-5,PreK,K,Gr 1-5,PreK,K,Gr 1-5
4,LA,State,-0.174036,-0.074355,-0.041914,-0.00562,0.022907,-0.008936,23089,49933,254371,27954,53944,265499,28112,52736,267893

In [94]:
parish = enrollmentDF.iloc[4:, 1]
enrollment = enrollmentDF.iloc[2:, 8:]
#enrollment = enrollment.to_frame()

In [95]:
enrollment["Parish"] = parish

#enrollment.drop(columns=[10, 13, 16], axis=1)
enrollment

,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Parish
2,Fall 2020,NaN,NaN,Fall 2019,NaN,NaN,Fall 2018,NaN,NaN,NaN
3,PreK,K,Gr 1-5,PreK,K,Gr 1-5,PreK,K,Gr 1-5,NaN
4,23089,49933,254371,27954,53944,265499,28112,52736,267893,State
5,363,812,3661,396,817,3721,397,786,3744,Acadia Parish
6,245,289,1496,238,311,1548,239,350,1570,Allen Parish
...,...,...,...,...,...,...,...,...,...,...
75,0,0,0,0,2,3,0,0,2,Louisiana Special Education Center
76,201,1933,10423,247,1864,10388,256,1854,10411,Type 2 Charters
77,1085,2753,14793,1576,3300,17211,1527,3177,17096,Orleans Parish
78,40,102,701,39,131,774,38,147,804,Recovery School District - Baton Rouge
79,30,102,545,30,113,562,20,130,559,Recovery School District - Louisiana

Pivoting data -- Format TBD

In [96]:
# Plan to drop colums w/ 1-5, add columns for date and age, etc


# enrollment.pivot_table(
#     index="Parish", columns=["Period", "Age"],
#     values="rate"
# )